<aside class="col-3 border border-light bg-white mt-4">
    
    <article class="card mb-3">
       
          <img src="/assets/images/LBO.jpg" class="card-img-top" style="height:150px"/>

      <div class="card-header text-white " style="background-color:#1A237E">
          <p class="text-white"><a class="text-white" href="{{ path('admin_index') }}">Dashboard</a></p>
      </div>
      
       <div class="card-header text-white " style="background-color:#1A237E">
          <p class="text-white"><a class="text-white" href="{{ path('admin_winning_products_index') }}">Liste des Winning Produit</a></p>
       </div>

        <div class="card-header text-white " style="background-color:#1A237E">
           <p><a class="text-white" href="{{ path('admin_users_index') }}">Liste des Utilisateurs</a></p>
       </div>

        <div class="card-header text-white " style="background-color:#1A237E">
          <p><a class="text-white" href="{{ path('admin_orders') }}">Liste des commandes</a></p>
       </div>

       <div class="card-header text-white" style="background-color:#1A237E">
           <p><a class="text-white" href="{{ path('admin_subscribers') }}">Liste de mes abonnees</a></p>
       </div>

       <div class="card-header text-white" style="background-color:#1A237E">
          <p><a class="text-white" href="{{ path('admin_products_index') }}">Liste des produits</a></p>
        <p><a class="text-white" href="{{ path('admin_products_add') }}">Ajouter un produit</a></p>
       </div>

       <div class="card-header text-white" style="background-color:#1A237E">
          <p><a class="text-white" href="{{ path('admin_countries_index') }}">Liste des pays</a></p>
          <p><a class="text-white" href="{{ path('admin_countries_add') }}">Ajouter un pays</a></p>
       </div>
       <div class="card-header text-white " style="background-color:#1A237E">
          <p><a class="text-white" href="{{ path('admin_packs_index') }}">Liste de mes Packs</a></p>
          <p><a class="text-white" href="{{ path('admin_packs_add') }}">Ajouter un Pack</a></p>
       </div>

       <div class="card-header text-white" style="background-color:#1A237E">
           <p><a class="text-white" href="{{ path('admin_categories_index') }}">Liste des categories</a></p>
           <p><a class="text-white" href="{{ path('admin_categories_add') }}">Ajouter une categorie</a></p>
        </div>
    </article>     
</aside>