{% extends "base.html.twig" %}
{% block body %}
  <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Get In Touch</h2>

            {% include "_partials/_flash.html.twig" %}
            
          </div>
          <div class="col-md-7">

          {{ form_start(contactForm,{'attr':{'class':'contactForm'}}) }}
              
              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname"  class="text-black">First Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="{{ contactForm.firstname.vars.full_name }}" name={{ contactForm.firstname.vars.full_name }}>
                    {% do contactForm.firstname.setRendered %}
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="{{ contactForm.lastname.vars.full_name }}" name="{{ contactForm.lastname.vars.full_name }}">
                    {% do contactForm.lastname.setRendered %}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="{{ contactForm.email.vars.full_name }}" name="{{ contactForm.email.vars.full_name }}" placeholder="">
                    {% do contactForm.email.setRendered %}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_subject" class="text-black">Subject </label>
                    <input type="text" class="form-control" id="{{ contactForm.subject.vars.full_name }}" name="{{ contactForm.subject.vars.full_name }}">
                    {% do contactForm.subject.setRendered %}
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_message" class="text-black">Message </label>
                    <textarea name="{{ contactForm.message.vars.full_name }}" id="{{ contactForm.message.vars.full_name }}" cols="30" rows="7" class="form-control"></textarea>
                    {% do contactForm.message.setRendered %}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send Message">
                  </div>
                </div>
              </div>
            {{ form_end(contactForm) }}
          </div>
          <div class="col-md-5 ml-auto">
            <div class="p-4 border mb-3">
              <span class="d-block text-primary h6 text-uppercase">New York</span>
              <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>
            <div class="p-4 border mb-3">
              <span class="d-block text-primary h6 text-uppercase">London</span>
              <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>
            <div class="p-4 border mb-3">
              <span class="d-block text-primary h6 text-uppercase">Canada</span>
              <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock %}