{% extends "base.html.twig" %}

{% block title %}Détails de
  {{ product.name }}
{% endblock %}

{% block body %}
  <div class="site-section m-4">
    <div class="container">

      <div class="row">

        <div class="col-md-6" style="width:400px">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              {% for iteration in 1..product.images | length %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
              {% endfor %}
            </div>
            <div class="carousel-inner">
              {% for image in product.images %}
                <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
                  <img src="{{ asset('assets/uploads/products/mini/300x300-') ~ image.name }}" class="d-block w-100" alt="{{ product.name }}">
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
	
 {% if  product.videos is defined %}
     {% for video in product.videos %}
         <div class="col-md-6" style="width:400px">
                <video  controls width="200px">
                  <source src= "{{ asset('assets/uploads/videos/' ~ video.name ) }}" >
                </video> 
            </div>
		{% endfor %}
	{% endif %}


        <div class="col-md-6" style="width:400px">
          <h2 class="text-black">{{ product.name }}</h2>
          <span class="badge text-white btn-rounded mb-3" style="font-size:15px;background-color:#1A237E">Description</span>
          <p>{{ product.description }}</p>

          <span class="badge text-white btn-rounded" style="font-size:20px;background-color:#1A237E">{{ product.price }}
            MAD</span>

          <div class="col mt-4">
		     <a href="{{path('cart_add',{id: product.id} )}}" class=" btn text-white " style="background-color:#1A237E">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewbox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Buy the product
          </a>
		  </div>

        </div>

      </div>

    </div>
  </div>

{% endblock %}
