{% extends "base.html.twig" %}
{% block body %}

<div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card rounded-3">
          <div class="card-body mx-1 my-2">
            <div class="justify-content-center">
                <h4 class="text-center text-primary">{{ packName }}</h4>
             </div>
            <div class="d-flex align-items-center">
             
              <div>
                <i class="fab fa-cc-visa fa-4x text-black pe-3"></i>
                <i class="fab fa-cc-mastercard fa-4x text-warning pe-3"></i>
              </div>
              <div>
                
              </div>
            </div>

            <div class="pt-3">
              <div class="d-flex flex-row pb-3">
                <div class="rounded border border-primary border-2 d-flex w-100 p-3 align-items-center"
                  style="background-color: rgba(18, 101, 241, 0.07);">
                  <div class="d-flex align-items-center pe-3">
                    <input class="form-check-input" type="radio" name="radioNoLabelX" id="radioNoLabel11"
                      value="" aria-label="..." checked />
                      {{ method }}
                  </div>
                  <div class="d-flex flex-column">
                    <p class="mb-1 small text-primary">Total amount due</p>
                    <h6 class="mb-0 text-primary">${{ packAmount }}</h6>
                  </div>
                </div>
              </div>

              
            </div>

            <div class="d-flex justify-content-between align-items-center pb-1">
                {% if method == 'stripe' %}
            <form method="POST" action="{{ path('payment_stripe_subscription', {reference: reference}) }}">
              <button type="submit" class="btn btn-primary btn-lg">Pay amount</button>
            </form>
            {% else %}
	    	<form method="POST" action = "{{ path('payment_paypal_subscription', {reference: reference}) }}">
                <button type="submit" class="btn btn-primary btn-lg">Pay amount</button>
			</form>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %} 