{% extends 'base.html.twig' %} 
{% block title %}Hello OrdersController!
{% endblock %}
{% block body %}
<div class="col-md-6">

  <div class="row mb-5">
    <div class="col-md-12">
      <h2 class="h3 mb-3 text-black">
        Details de ma commande</h2>
      <div class="p-3 p-lg-5 border">
        <table class="table site-block-order-table mb-5">
          <thead>
            <th>Product</th>
            <th>Image</th>
            <th>Total</th>
          </thead>
          {% for element in data %}
            <tbody>
              <tr>
                <td>{{ element.product.name }}
                  <strong class="mx-2">x{{ element.quantity }}</strong>
                </td>
                <td><img src="{{ asset('assets/uploads/products/mini/300x300-' ~ element.product.images[0].name ) }}" alt="{{ element.product.images[0].name }}" class="img-thumbnail"></td>
                <td>{{ element.quantity * element.product.price }}
                  €</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
