{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
      <h2 class="h3 mb-3 text-black">Addresse de livrason</h2>

      <div class="p-3 p-lg-5 border">
        <div class="form-group">
          <label for="c_country" class="text-black">Choisir une Addresse
            {{ form_start(form,{action:path('app_orders_prepare')}) }}

            {{ form_row(form.addresses)|replace({'[-br]': '</br>'})|raw }}

            <h2 class="text-primary">Mode de paiement</h2>
            {{ form_row(form.payment)}}

            <span class="text-danger">*</span>
          </label>

        </div>
      </div>
    </div>

    <div class="col-md-6">

      <div class="row mb-5">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Votre commande</h2>
          <div class="p-3 p-lg-5 border">
            <table class="table site-block-order-table mb-5">
              <thead>
                <th>Product</th>
                <th>Image</th>
                <th>Total</th>
              </thead>
              {% for element in data %}
                <tbody>
                  <tr>
                    <td>{{ element.product.name }}
                      <strong class="mx-2">x{{ element.quantity }}</strong>
                    </td>
                    <td><img src="{{ asset('assets/uploads/products/mini/300x300-' ~ element.product.images[0].name ) }}" alt="{{ element.product.images[0].name }}" class="img-thumbnail"></td>
                    <td>{{ element.quantity * element.product.price  }}
                      €</td>
                  </tr>
                {% endfor %}

                <tr>
                  <td class="text-black font-weight-bold">
                    <strong>Order Total</strong>
                  </td>
                  <td class="text-black font-weight-bold">
                    <strong>{{ total }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Valider la commande</button>
            </div>

          </div>
        </div>
      </div>

    </div>
    {{ form_end(form) }}
  </div>
  <!-- </form> -->
</div>
</div>
{% endblock %}
